.idea/
.vscode/
.env.*
.env
.env.example
.env.local
.env.testing
.env.staging
.env.production
.env.development
.env.dev
.env.prod
.env.stg
.env.stage
.env.preprod
.env.preprod.local
.env.preprod.testing
.env.preprod.staging
.env.preprod.production
.env.preprod.dev
.env.preprod.prod
.env.preprod.